$white: #f4f5f9;
$blue: #42567A;

.container__circle {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 530px;
  width: 536px;
  @media screen and (max-width: 720px) {
    display: none;
  }
}

.circle {
  border: 1px solid $blue;
  border-radius: 50%;
  height: 530px;
  width: 536px;
}

.circle__point {
  position: absolute;
  cursor: pointer;
  z-index: 10;
  width: 56px;
  height: 56px;
  border-radius: 100%;


  &:hover {
    .container__circle-slide {
      border: 1px solid $blue;
      border-radius: 50%;
      height: 56px;
      width: 56px;
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      color: $blue;
      text-align: center;
      background: #f4f5f9;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      .circle__span-1{
        transform: rotate(120deg);
      }
      .circle__span-2{
        transform: rotate(20deg);
      }
      &:hover {
        opacity: 1;
        transition: opacity 1s ease-in-out;
      }

      span {
        opacity: 1;
        transition: opacity .5s ease-in-out;
        margin: 0;
        padding: 0;
      }
    }
  }

  &.index0 {
    top: 47%;
    left: -5%;

  }

  &.index1 {
    top: 85%;
    left: 72%;
  }

  &.index2 {
    top: 7%;
    left: 77%;
  }
}

.container__circle-slide {

  .circle__span-0{
    transform: rotate(240deg);
  }
  .circle__span-1{
    transform: rotate(120deg);
  }
  .circle__span-2{
    transform: rotate(20deg);
  }
  .container__circle-point {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 39%;
    top: 34%;
    margin: auto;
    background: $blue;
    border-radius: 100%;
    opacity: 1;

    &.index1 {
      left: 39%;
      top: 58%;
    }
  }

  &:hover {
    .container__circle-point {
      opacity: 0;
    }

  }

  span {
    opacity: 0;
    margin: 0;
    padding: 0;
  }

  &.active {
    opacity: 1;
    border: 1px solid $blue;
    border-radius: 50%;
    height: 56px;
    width: 56px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: $blue;
    text-align: center;
    background: #f4f5f9;
    display: flex;
    justify-content: center;
    align-items: center;

    .container__circle-point {
      opacity: 0;
    }

    &:hover {
      .container__circle-point {
        opacity: 0;
      }

    }


    span {
      opacity: 1;
      transition: opacity 1s ease-in-out;
      margin: 0;
      padding: 0;
    }
  }
}

.points__container {

}