$light-blue: #3877EE;
$dark-blue: #42567A;
$white: #f4f5f9;
$gray: #C7CDD9;

.swiper__container {
  position: absolute;
  bottom: 104px;
  width: 90%;
  height: 200px;
  margin-left: 80px;
  margin-bottom: 80px;

  span {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: $dark-blue;
    margin-bottom: 20px;
  }

  @media screen and (max-width: 720px) {
    position: relative;
    top: 0;
    margin-top: 56px;
    margin-left: 0;
    width: 100%;
    display: flex;
    height: 100%;
    flex-flow: column-reverse;
  }
}

.swiper {
  flex-direction: row;
  height: 100%;

  .swiper-button-next {
    background: white;
    height: 40px;
    width: 40px;
    border-radius: 100%;

    &:after {
      font-size: 10px;
    }

    @media screen and (max-width: 720px) {
      display: none;
    }
  }

  .swiper-wrapper {
    @media screen and (max-width: 720px) {
      display: flex;
      flex-direction: row;
      width: 100vw;
      height: 100%;
      border-top: 1px solid $gray;
    }
  }
  .swiper-slide {
    @media screen and (max-width: 720px) {
      margin-right: 25px;
      height: 400px;
    }
  }

  .swiper-button-prev {
    background: white;
    height: 40px;
    width: 40px;
    border-radius: 100%;

    &:after {
      font-size: 10px;
    }
  }
}

.swiper__item {
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 25px;
    font-weight: 400;
    line-height: 120%;
    color: $light-blue
  }

  span {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: $dark-blue;
    width: 400px;
  }

  @media screen and (max-width: 720px) {
    height: 100%;
    width: 100%;
  }
}

.swiper__button {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.swiper__button-pagination {
  border: 1px solid $dark-blue;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  background: #f4f5f9;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  &.disabled {
    border: 1px solid #42567A80;

    img {
      opacity: .8;
    }
  }
}

//.swiper__desc-button{
//  @media screen and (max-width: 720px) {
//    display: none;
//  }
//}